html {
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    line-height: 1.0;
    color: white;
    background-color: black;
}

#sapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
a {
    color: pink;
    text-decoration: none;
}
a:visited {
    color: pink;
}
a:hover {
    text-decoration: underline;
}
a > h1 {
    color: white;
}
a:visited > h1{
    color: white;
}

.infoline {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.links {
width: 20%;
min-width: 125px;
margin-bottom: 10px;
}

